---
import { MY_NAME } from '../consts'
import SocialLinkIcons from './SocialLinkIcons.astro'
const today = new Date()
---

<footer>
  <div>
    <SocialLinkIcons />
  </div>
  <div>
    &copy; {today.getFullYear()}
    {MY_NAME}. All rights reserved.
  </div>
</footer>
<style>
  footer {
    display: grid;
    place-items: center;
    padding: 25px;
    gap: 12px;
  }
</style>
